.navbar {
  min-height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .right-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

        .nav-list {
          list-style: none;
          display: flex;
          flex-direction: row;
        }
    }
}
