.root{
    min-height: 15vh;
    display: flex;
    flex-direction: row,;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 75%;
}
.list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.4rem;
}
.home{
    font-family: Yellowtail, cursive;
    color: #FFBD2D;
    font-weight: bold;
    font-size: 3rem;
}
.icon{
    font-size: 2.5rem;
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: #fff;
}