.start-wrapper{
    width: 100%;
    min-height: 85vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-container{
        margin-left: 4rem;
        padding: 0rem;

        .company-name{
            font-family: 'Caveat', cursive;
            font-size: 4rem;
            color: $purple;
            margin: 0rem;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 01) ;
            
        }
        .hero-text{
            font-size: 4rem;
            margin: 0rem 0rem;
            padding: 0rem;

            span{
                color: $purple;
            }
            .middle{
                color: $green
            }
        }
        .under-text{
            margin:0rem 0rem 1rem;
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
}